*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
}

#header{
    width: 100%;
    height: 250px;
    background-color: gold;
    padding: 15px;
    margin: 0%;
    border: 0%;
    text-align: center;
}

.logo{
    font-size: 90px;
    color: dimgray;
    font-weight: bold;
    padding-bottom: 30px;
}

.pp{
    font-size: 90px;
    color:white;
    font-weight: bold;
}

.opcoes{
    font-size: 34px;
    color:aliceblue;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
}

.clear{
    clear: both;
}

a:hover{
    color: gold;
    background-color: aliceblue;
}

.postagem{
    width: 50%;
    height: 100%;
    margin-top: 30px;
    background-color: white;
    margin-left: 250px;
    float: left;
    margin-bottom: 30px;
}

.TituloPrincipal{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.postagem_recente{
    font-size: 17px;
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    width: 18%;
    background-color: aliceblue;
    
}

.TituloPR{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background-color:#CCC;
    font-size: 20px;
    color: darkorange;
    text-align: center;
}

.rodape{
    clear: both;
    text-align: center;
    font-size: 25px;
    padding: 17px;
    background-color: #CCC;
    font-weight: bold;
}

h1{
    color: orange;
    font-size: 35px;
}

a{
    color:orange;
    text-decoration: none;
}